name = "GMMInference"
uuid = "bac0df68-cab7-482a-aa4b-d3925df9b168"
authors = ["Paul Schrimpf <paul.schrimpf@gmail.com>"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
